@font-face {font-family: ProximaNova; src: url('fonts/ProximaNova-light.otf');}

body {
  background-color: #FAFAFA;
  font-family: ProximaNova;
  text-align: center;
  padding: 0;
  margin: 0;
}

.quizBoxDesign {
  border-style: solid;
  border-color: black;
  border-width: 1px;
}
